// TODO Tradurre tutto in jade e non solo parti html
// Prima la struttura dell'index e poi eventualmente anche le sezioni

include ./parts/header.html
include ./parts/home.html
include ./parts/about.html
include ./parts/work.html
include ./parts/clients.html
include ./parts/contatti.html
//include ./parts/content.html
include ./parts/footer.html